parameters:
    level: 9
    paths:
        - src
        - tests
    exceptions:
        uncheckedExceptionRegexes:
            - '#^Petk\\Container\\Exception\\#'
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: true
